@import '../../settings/fonts.scss';

.noMatches {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noMatches__text__line {
    width: 100%;
    height: 15vh;
    position: relative;
    overflow: hidden;

    span {
        position: absolute;
        line-height: 1.2;
        font-size: 10vh;
        font-family: 'Montserrat', sans-serif;
        border-bottom: 1px solid black;
        width: 100%;
    }
}
