@import "./../../settings/colors.scss";

.searchFilterEl {
        color: black;
        background: white;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
        line-height: 1.2;
    }

    .active {
        background: $accentColor;
        color: white;
    }

    .searchFilterSub {
        list-style-type: none;
        display: none;
        transition: 0.3s;
    
        &:hover {
            display: block;
        }
    }