@import "./src/settings/colors";
@import "./src/settings/widths";

.main {
    width: 100%;
    min-height: 100vh;
    background-color: $mainBgColor;
    display: grid;
    grid-template-rows: 7vh 93vh;
    grid-template-columns: $marginWidth $mainWidth $marginWidth;
}