.social {
    border-right: 1px solid white;
}

.social__icon {
    display: block;
    width: 22px;
    height: 22px;
    background: url('../../assets/facebook-brands.svg');
    margin-right: 1rem;
}