@import "./src/settings/colors";
@import "./src/settings/widths";

.header {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: $mainBgColor;
}

.headerCnt {
    width: $mainWidth;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
