@import "../../settings/widths.scss";
@import "../../settings/colors.scss";

.search {
    height: 5vh;
    margin: 1rem 0;
    line-height: 5vh;
    display: flex;
    
    input {
        width: 66%;
        border: 0.25px solid gray;
        border-radius: 15px;
        font-size: 1.2rem;
        font-family: 'Noto Sans', sans-serif;
        text-indent: 3%;
    }
}