@font-face {
    font-family: "NotoSans";
    src: local("NotoSans"),
      url("../fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"),
      url("../fonts/Comfortaa-VariableFont.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "Montserrat";
    src: local("Comfortaa"),
      url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
  }